
[project]
name = "Dialect"
version = "2.4.2"
requires-python = ">=3.9"

[tool.black]
line-length = 120

[tool.isort]
profile = "black"

[tool.ruff]
line-length = 120
builtins = ["_", "gettext"]

[tool.pyright]
reportMissingModuleSource = false