
.translation-box {
  padding: 12px;
}

.translation-side-box textview,
.translation-side-box text {
  background: none;
  color: inherit;
}

.mistakes {
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: mix(@accent_bg_color, @window_bg_color, 0.7);
}

.pronunciation {
  border-top: 1px solid @borders;
  border-bottom: 1px solid @borders;
}

.search_box {
  background: @popover_bg_color;
  border-bottom: 1px solid @borders;
  padding: 6px;
}

.lang-selector listview {
  padding: 6px;
  padding-top: 4px;
}

.lang-selector row {
  margin-top: 2px;
}

.lang-selector separator {
  margin: 0 6px;
}

.scroller-border {
  border-bottom: 1px solid @borders;
}

.bottom-bar {
  border-top: 1px solid @borders;
}
