
.translation-box {
  padding: 12px;
}

.translation-side-box {
  background: @theme_base_color;
  border: 1px solid @borders;
  border-radius: 9px;
}

.translation-side-box scrolledwindow {
  border-bottom: 1px solid @borders;
}

.tools-box {
  padding: 6px;
}

.mistakes {
  border-left: 1px solid @borders;
  border-right: 1px solid @borders;
}

.pronunciation {
  border-bottom: 1px solid @borders;
  border-top: 0;
}

.lang-selector contents {
  background: @theme_base_color;
}
.lang-selector arrow {
  background: @popover_bg_color;
}
.search_box {
  background: @popover_bg_color;
  border-bottom: 1px solid @borders;
  padding: 6px;
}
.lang-selector row {
  border-radius: 0px;
  padding: 2px 12px;
}

.bottom-bar {
  background: @theme_base_color;
  border: 1px solid @borders;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}
