
.translation-scrolled undershoot.bottom {
  border-bottom: 1px solid #222222;
}

.translation-scrolled.top-undershoot undershoot.top {
  border-top: 1px solid #222222;
}

.provider-feature-tts {
	color: @green_1;
  background-color: alpha(@green_4, .25);
}
.provider-feature-trans {
  color: @blue_1;
}
.provider-feature-dic {
  color: @yellow_2;
  background: alpha(#cd9309, .25);
}