on:
  push:
    branches: [master]
  pull_request:
name: CI
jobs:
  flatpak-builder:
    name: "Flatpak Builder"
    runs-on: ubuntu-latest
    container:
      image: docker.io/bilelmoussaoui/flatpak-github-actions
      options: --privileged
    steps:
    - uses: actions/checkout@master
    - uses: bilelmoussaoui/flatpak-github-actions@master
      with:
        bundle: "dialect-dev.flatpak"
        manifest-path: "build-aux/flatpak/com.github.gi_lom.dialect.json"
        app-id: "com.github.gi_lom.dialect"
        flatpak-module: "dialect"
